<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>斗地主.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06B876081E0A572500AAAEF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06B876211E0A572A00AAAEF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06B8762C1E0A572A00AAAEF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
